<p>{{ 'mailers.team_notifications.templates.automation.greeting' | t }}</p>

<p>{{ 'mailers.team_notifications.templates.automation.message_created' | t: conversation_id: conversation.display_id }}</p>

<p>
  <a href="{{ action_url }}">{{ 'mailers.team_notifications.templates.automation.view_conversation' | t }}</a>
</p>
