<p>{{ 'mailers.administrator_notifications.templates.automation_rule.greeting' | t }}</p>

<p>{{ 'mailers.administrator_notifications.templates.contact.import.failed.message' | t }}</p>
<p>{{ 'mailers.administrator_notifications.templates.contact.import.failed.explanation' | t }}</p>
