<p>{{ 'mailers.administrator_notifications.templates.automation_rule.greeting' | t }}</p>

<p>{{ 'mailers.administrator_notifications.templates.contact.export.message' | t }}</p>

<p>
Clique <a href="{{ action_url }}">{{ 'mailers.administrator_notifications.templates.contact.export.action' | t }}</a> para baixar o arquivo de exportação.
</p>
