<p>{{ 'mailers.administrator_notifications.templates.automation_rule.greeting' | t }}</p>

<p>{{ 'mailers.administrator_notifications.templates.channel.facebook.message' | t }}</p>

<p>
{{ 'mailers.administrator_notifications.templates.channel.facebook.action' | t }} <a href="{{action_url}}">aqui</a>
</p>
