<p>{{ 'mailers.administrator_notifications.templates.automation_rule.greeting' | t }}</p>

<p>{{ 'mailers.administrator_notifications.templates.channel.slack.message' | t }}</p>

<p>
Clique <a href="{{action_url}}">{{ 'mailers.administrator_notifications.templates.channel.slack.action' | t }}</a> para reconectar.
</p>
